<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kennethandre.modulo_2" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Modulo 2"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="Modulo 2" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Orden"
            android:label="@string/title_activity_orden" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Inicio" >
        </activity>
        <activity
            android:name=".MyWidgetConfig"
            android:label="@string/title_activity_my_widget_config" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"></action>
            </intent-filter>
        </activity>

        <receiver android:name=".Modulo_2" >
            <intent-filter>
                <action android:name="com.example.doer.widgetmodulo2.ACTUALIZAR_WIDGET" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/modulo_2_info" />
        </receiver>
    </application>

</manifest>
